body{
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    /* position: relative; */
    
}
#header{
    margin: 0;
    /* position: sticky; */
    padding: 10px 20px;
    /* background-color: aqua; */
    display: flex;
    width: 100vw;
    /* overflow-x: hidden; */
    /* align-items: center;
    justify-content: center; */
}
.icon{
    height: 25px;
    background-color:rgba(236, 233, 233, 0.787) ;
    border-radius: 50%;
    padding: 5px;
    margin: auto 10px;
}
.icon:hover{
    cursor: pointer;
}
#menu-logo{
    height: 40px;
    position: relative;
}
#menu-logo img{
    border: none;
    border-radius: 0;
    background-color: white;
}
nav{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: white;
    line-height: 65px;
    padding: 5px;
    /* z-index: 999; */
    width: 200px;
    height: 150vh;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: flex-start;
}
a{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
nav *{
    text-decoration: none;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.751);
    float: left;     
}
nav a:hover{
    background-color: lightgray;
    border-radius: 5px;
    width: 200px;
    height: 40px;

}
.nav-icon{
    width: 25px;
    background-color:lightgray;
}
hr{
    border-bottom: 0.01px solid rgba(211, 211, 211, 0.019);
    width: 90%;
    margin: 10px auto;
}
#youtube-logo{
    width: 80px;
    height: 80px;
    position: relative;
    top: -20px;
    left: 10px;
}

#menu-logo, #account-section{
    display: flex;
    width: 15vw;
}
#search{
    background-color: rgba(236, 233, 233, 0.787);
    display: flex;
    width: 40vw;
    border: .1px solid rgba(160, 160, 160, 0.6);
    border-radius: 50px;
    height: fit-content;
    margin-left: 12%;
}
#search input{
    margin: 0;
    height: 35px;
    width: 47vw;
    border: .1px solid rgba(160, 160, 160, 0.6);
    /* border: none; */
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: auto auto auto 40px;
    font-size: 18px;
    margin-right: 45px;
}
/* #record-icon{
    margin-right: 80px;
} */
#account-section{
    margin-left: 14%;
}
main{
    /* background-color: blueviolet; */
    width:85vw;
    height: 900px;
    /* padding: 10px 10%; */
    margin: 10px 100px;
    display: flex;
}
main *{
    margin:auto;
    z-index: -1;
}
#main-content{
    /* background-color: blueviolet; */
    width: 69%;
    height: 100%;
    /* float: left; */
}
#main-video-player iframe{
    width: 100%;
    height: 100%;
}
#main-video-player{
    /* background-color: blanchedalmond; */
    width: 100%;
    height: 65vh;
    margin-bottom: 10px;
}
.main-video-title *{
    font-size: 22px;
    font-weight: 600;
}
.video-metrics{
    display: flex;
}
.video-metrics figure,figcaption, a{
    margin: 0;
}
figcaption{
    display: inherit;
    flex-direction: column;
    padding: 25px auto;
    justify-content: center;
}
figcaption a{
    text-decoration: none;
    margin-left: 10px;
}
.channel-name{
    text-decoration: none;
    color: #0a0a0afb;
    font-size: 19px;
    font-weight: 600;
    /* margin-left: 5px; */
}
.channel-subscription{
    text-decoration: none;
    color: #777777fb;
    font-size: 16px;
}
.subscription-status{
    background-color: rgba(211, 211, 211, 0.599);
    border-radius: 50px;
    padding: 10px;
    font-size: 17px;
    margin: auto 15px;
}
.metrics{
    background-color: white;
    margin: auto 250px auto -5px;
    height: fit-content;
}
.video-metrics img{
    border-radius: 50%;
}
.reactions{
    background-color: rgba(211, 211, 211, 0.45);
    display: flex;
    margin: 5px 5px 5px 0;
    padding: 5px;
    border-radius: 20px;
    padding:15px auto;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.divider{
    height: 18px;
    border: 1px solid rgba(12, 11, 11, 0.87);
    display: inherit;
    margin:auto 5px;
}
.likes{
    width: 70px;
}
.dislikes{
    width: 50px;
}
.likes:hover{
    background-color:lightgray ;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: -5px;
    padding: 5px;

}
.dislikes:hover{
    background-color:lightgray ;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: -5px;
    padding: 5px;

}
#like, #dislike{
    width: 25px;
    /* position: relative; */
    top: 7px;
    margin:0;
    padding: auto 200px;
}

.share{
    background-color: rgba(211, 211, 211, 0.503);
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 200;
    padding: auto 15px;
    width: 100px;
    letter-spacing: .1rem;
}
.share-icon{
    width: 35px;
}
#main-video-description{
    background-color: azure;
    width: 100%;
    height: 30vh;
    margin-top: 10px;
}
#dots{
    display: inline;
}
#more-text{
    display: none;
}
.video-description{
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 5px;
    line-height: 20px;
    height: fit-content;
    padding: 20px;
}
.video-description *{
    text-decoration: none;
    font-size: 16px;
}
.video-description p{
    margin-top: 10px;
}
.views-count, .post-date{
    font-size: 18px;
    font-weight: 550;
    margin: auto 10px auto 0;
    opacity: .75;
}
#comments-section{
    width: 100%;
    height: fit-content;
    margin-top: 15px;
}
#comment{
    width: 80%;
    border-top: none;
    border-left: none;
    border-right: 0;
    border-bottom: 1px solid lightgray;
}
/* #comment *{
    margin: 0;
} */
aside{
    /* background-color: aquamarine; */
    float: right;
    width: 29%;
    height: 1600px;
}
aside iframe{
    border-radius: 10px;
    width: 100%;
    height: 200px;
    margin: auto;
}
